body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #333;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.page-shadow {
	-webkit-box-shadow: 0 5px 15px rgba(0,1,1,.2);
	-moz-box-shadow: 0 5px 15px rgba(0,1,1,.2);
	box-shadow: 0 5px 15px rgba(0,1,1,.2);
	width: 1200px;
	margin: 0 auto;
}

h1 {
	font-size: 30px;
	line-height: 24px;
	color: #000;
	font-weight: bold;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000;
	font-weight: bold;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.bgimage {
	background: url('../img/background-top.jpg') 0 -55px no-repeat;
	width: 1200px;
	height: 773px;	
}

.bgimage::after {
	content: "";
	width: 1200px;	
	height: 57px;
	background: url('../img/overlay-mask.png') 0 0 no-repeat;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 507px;
}

.main-wrap {
	max-height: 2705px;
}

.container {
	width: 1200px;
	margin: 0 auto;

}

.overlay-position {
	margin-top: -264px;
	padding-top: 44px;
}

.overlay-mask {
	background: #fff;
}

nav.main-nav a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.main-header {
	min-height: 55px;
	padding-bottom: 5px;
	background-color: #fff;
}

.logo {
	position: absolute;
	margin-left: 532px;
	top: 0px;
}

nav.main-nav > ul {
	padding: 0;
	margin-top: -5px;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 0;
}

nav.main-nav > ul > li {
	display: inline-block;
	list-style: none;
	padding-top: 22px;
}

nav.main-nav > ul > li:nth-child(1) {
	margin-left: 71px;
}

nav.main-nav > ul > li:nth-child(2) {
	margin-left: 143px;
}

nav.main-nav > ul > li:nth-child(3) {
	margin-left: 385px;
}

nav.main-nav > ul > li:nth-child(4) {
	margin-left: 162px;
	margin-right: 72px;
}

.heading-container {
 	width: 520px;
	margin-left: auto;
	margin-right: auto;
}

.heading-container > h1 {
	font-size: 21px;
	text-align: center;
	padding-top: 5px;
}

.heading-container > p {
	text-align: center;
	padding-top: 17px;
	padding-bottom: 40px;
}

.reasons-why-row1 {
	height: 256px;
}

.reasons-why-text-wrap {
	float: left;
	width: 300px;
	height: 156px;
	padding: 50px;
	color: #fff;
	background-color: #81b3d2;
}

.reasons-why-text-wrap > h2 {
	color: #fff;
}

.reasons-why-heading {
	text-align: center;
	width: 150px;
	margin: 0 auto;
	padding-top: 4px;
}

.reasons-why-numeration {
	text-align: center;
	margin-top: 25px;
}

.reasons-why-details {
	text-align: center;
	margin-top: 20px;
}

.reasons-why-row1 > .reasons-why-text-wrap {
	float: left;
}

.reasons-why-row2 {
	min-height: 330px;
}

.container-features {
	float: left;
	width: 300px;
	padding-top: 160px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	position: relative;
}

.container-features:nth-of-type(1) > h2::before {
	content: "";
	background: url('../img/row2-sprite.png');
	background-repeat: no-repeat;
   	position: absolute;
   	display: block;
	top: 59px;
	left: 162px;
   	width: 75px;
    height: 72px;
	background-position: -5px -5px;
}

.container-features:nth-of-type(2) > h2::before {
	content: "";
	background: url('../img/row2-sprite.png');
	background-repeat: no-repeat;
   	position: absolute;
   	display: block;
	top: 60px;
	left: 164px;
   	width: 75px;
    height: 72px;
    background-position: -90px -5px;
}

.container-features:nth-of-type(3) > h2::before {
	content: "";
	background: url('../img/row2-sprite.png');
	background-repeat: no-repeat;
   	position: absolute;
   	display: block;
	top: 55px;
	left: 168px;
   	width: 75px;
    height: 76px;
    background-position: -90px -85px;
}

.container-features > h2 {
	margin: 0;
}

.container-features > p {
	padding-top: 10px;
}

.reasons-why-row3 {
	height: 256px;
}
.reasons-why-row3 > section.reasons-why-text-wrap {
	float: right;
	width: 310px;
	height: 156px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 45px;
	padding-right: 45px;
}

.reasons-why-row4 {
	height: 256px;
	background-color: #eeeeee;
}

.reasons-why-row4 > .container-reasons {
	float: left;
	width: 220px;
	padding-top: 50px;
	padding-left: 90px;
	padding-right: 90px;
	text-align: center;

}

.reasons-why-row4 > .container-reasons > h2 {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 35px;
	margin-left: 35px;
	width: 150px;
}

.reasons-why-row4 > .container-reasons > p {
	padding-top: 7px;
}

section.form-container {
	width: 565px;
	margin: 0 auto;
	padding-top: 55px;
	z-index: 120;
	position: relative;
}

section.form-container > h2 {
	text-align: center;
	font-size: 30px;
	padding-top: 0px;
	margin-top: 4px;
}

section.form-container > p {
	width: 450px;
	text-align: center;
	margin: 0 auto;
	padding-top: 7px;
	line-height: 1.65;
}

.form-content {
	background-color: #fff;
	float: left;
	width: 565px;
	min-height: 395px;
}

a.form-heading {
	display: block;
	text-align: center;
	min-height: 70px;
    background-color: #766357;
    line-height: 70px;
    padding-top: 12px;
    padding-bottom: 22px;
    margin-top: 44px;
	text-decoration: none;
	color: #ffffff;
	font-size: 21px;
}

input {
	display: block;
}

.map-container {
	background: url('../img/map.jpg');
	width: 1200px;
	height: 593px;
	z-index: 100;
}

.map-footer-container {
	position: relative;
}

.main-footer {
	min-height: 70px;
	padding-top: 50px;
	background-color: #fff;
	background-color: rgba(254, 254, 254, 0.9);
    position: relative;
    bottom: 0;
}

.main-footer-index-position {
	position: absolute;
}

.footer-hashtag {
	float: left;
	width: 267px;
	padding-left: 133px;
	font-size: 21px;
	font-weight: bold;

}

.footer-social {
	float: left;
	width: 276px;
	padding-left: 124px;
}

.footer-copyright {
	float: left;
	width: 297px;
	padding-left: 103px;
}

.footer-copyright > span {
	display: block;
	float: left;
}

.footer-copyright > img {
	margin-top: -8px;
	margin-left: 8px;
}

.hotels-form-container {
	min-height: 217px;
	background-image: url('../img/filter-background.jpg');
	background-position: 0 0;
}

.hotels-form-container > form {
    padding-top: 30px;
    font-size: 16px;
    color: #fff;
}

fieldset.form-1-column {
	width: 327px;
	float: left;
	padding-left: 73px;
}

fieldset.form-2-column {
	width: 488px;
	float: left;
}

fieldset.form-3-column {
	float: left;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.hotels-list-menu {
	min-height: 68px;
	padding-left: 73px;
	padding-top: 17px;
}

.row > img {
	float: left;
	padding-top: 31px;
}

.hotel-info {
	float: left;
}

.hotel-info > h2 {
	padding-left: 32px;
	position: relative;
	top: 15px;
}

.hotel-info > p:nth-of-type(1) {
	position: relative;
	top: 4px;
	left: 31px;
}

.hotel-info > p:nth-of-type(2) {
	position: relative;
	top: -31px;
	left: 147px;
}

.hotel-ratings {
	float: right;
}

.hotels-list-menu > h2 {
	float: left;
}

.hotel-info > a:nth-of-type(1) {
	display: block;
	float: left;
	height: 27px;
	background-color: #81b3d2;
	color: #fff;
	text-decoration: none;
	padding: 0px 18px;
	padding-top: 2px;
	margin-top: -32px;
	margin-left: 30px;
}

.hotel-info > a {
	display: block;
	float: left;
	height: 27px;
	color: #fff;
	text-decoration: none;
}

.hotel-info > a:nth-of-type(1) {
	background-color: #81b3d2;	
	padding: 0px 18px;
	padding-top: 2px;
	margin-top: -32px;
	margin-left: 30px;
}

.hotel-info > a:nth-of-type(2) {
	background-color: #766357;
	margin-top: -32px;
	margin-left: 150px;
	padding: 0px 18px;
	padding-top: 2px;
}

.hotel-ratings > .rating {
	margin-top: 91px;
    margin-right: 73px;
    background-color: #f2f2f2;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.hotels-list-menu > p {
	float: left;
	font-size: 12px;
    padding-left: 48px;
    padding-top: 8px;
}

.hotels-list-menu > ul {
	list-style: none;
	float: left;
}

.hotels-list-menu > ul > li {
	font-size: 12px;
	float: left;
	padding-left: 0;
	padding-right: 30px;
	padding-top: 5px;

}

.hotels-list-menu a {
	text-decoration: none;
}

.hotels-list-menu ul li a {
	color: #000;
	color: rgba(0, 0 , 0, 0.3);
	border-bottom: dotted 1px #81b3d2;
}

.hotels-list-menu ul li a:hover {
	color: #81b3d2;
}

.hotels-list {
}

.row {
	padding-left: 72px;
	border-top: 1px solid #e5e5e5;
	height: 152px;
}

.row:last-of-type {
	border-bottom: 1px solid #e5e5e5;
}

.hotels-container-color {
	background-color: #fff;
}

.hotels-list-menu > ul li.sort-active > a {
	color: #81b3d2;
}

.social-btn {
	display: inline-block;
	vertical-align: middle;
    width: 46px;
    height: 48px;
	font-size: 0;
	margin-left: 2px;
	margin-top: -12px;
	background-color: #81b3d2;
	background-image: url('../img/social-icons-sprite.png');
	background-repeat: no-repeat;
}

.social-btn-twitter {
    background-position: -41px 0px;
}

.social-btn-fb {
    background-position: 3px -2px;
}

.social-btn-yt {
    background-position: -88px 0px;
}

.arrows {
	float: right;
	margin-right: 62px;
	margin-top: 22px;
}

.arrow-up {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	font-size: 0;
	background-image: url('../img/arrow-up-gray.png');
	background-repeat: no-repeat;
}

.arrow-down {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	font-size: 0;
	background-image: url('../img/arrow-down-blue.png');
	background-repeat: no-repeat;
}

.stars {
	float: right;
	margin-top: 29px;
	width: 90px;
	height: 20px;
	font-size: 0;
	background-repeat: no-repeat;
}

.stars-2 {
	background-image: url('../img/stars-2.png');
	margin-right: 23px;
}

.stars-3 {
	background-image: url('../img/stars-3.png');
	margin-right: 43px;
}

.stars-4 {
	background-image: url('../img/stars-4.png');
	margin-right: 63px;

}