body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.page-shadow {
  -webkit-box-shadow: 0 5px 15px rgba(0,1,1,.2);
  -moz-box-shadow: 0 5px 15px rgba(0,1,1,.2);
  box-shadow: 0 5px 15px rgba(0,1,1,.2);
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  line-height: 24px;
  color: #000;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.bgimage-container {
  overflow: hidden;
  overflow-x: hidden;
  max-width: 1200px;
  width: 1200px;
}

.bgimage {
  background-color: #91b9d7;
  background: url('../img/background-top.jpg') 0 -55px no-repeat;
  width: 100%;
  height: 773px;  
  overflow: hidden;
}

.bgimage::after {
  content: "";
  width: 100%;
  height: 57px;
  background: url('../img/overlay-mask.png') 0 0 no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 507px;
}

.main-wrap {
  max-height: 2705px;
}

.container {
  width: 1200px;
  margin: 0 auto;

}

.overlay-position {
  margin-top: -264px;
  padding-top: 44px;
}

.overlay-mask {
  background: #fff;
}

nav.main-nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.main-header {
  min-height: 55px;
  padding-bottom: 5px;
  background-color: #fff;
}

.logo {
  position: absolute;
  margin-left: 532px;
  top: 0px;
}

nav.main-nav {
  padding-left: 6%;
  padding-right: 6%;
}

nav.main-nav > ul {
  padding: 0;
  margin-top: -5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
}

nav.main-nav > ul > li {
  display: inline-block;
  list-style: none;
  padding-top: 22px;
}

nav.main-nav a:hover {
  color: #81b3d2;
}

nav.main-nav a:active {
  color: #cacaca;
}

nav.main-nav a.main-nav-active {
  color: #766357;
}

nav.main-nav a.main-nav-active:hover {
  color: #604e43;
}

nav.main-nav a.main-nav-active:active {
  color: #dbd8d5;
}

nav.main-nav > ul > li {
  width: 20%;
}

nav.main-nav > ul > li:nth-child(1) {
  text-align: left;
}

nav.main-nav > ul > li:nth-child(2) {
  margin-left: 27px;
  text-align: left;
}

nav.main-nav > ul > li:nth-child(3) {
  margin-left: 145px;
  text-align: right;
}

nav.main-nav > ul > li:nth-child(4) {
  margin-left: 27px;
  text-align: right;
}

.heading-container {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.heading-container > h1 {
  font-size: 21px;
  text-align: center;
  padding-top: 5px;
}

.heading-container > p {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 40px;
}

.reasons-why-row1 {
  height: 256px;
}

.reasons-why-text-wrap {
  float: left;
  width: 300px;
  height: 156px;
  padding: 50px;
  color: #fff;
  background-color: #81b3d2;
}

.reasons-why-text-wrap > h2 {
  color: #fff;
}

.reasons-why-heading {
  text-align: center;
  width: 150px;
  margin: 0 auto;
  padding-top: 4px;
}

.reasons-why-numeration {
  text-align: center;
  margin-top: 25px;
}

.reasons-why-details {
  text-align: center;
  margin-top: 20px;
}

.reasons-why-row1 > .reasons-why-text-wrap {
  float: left;
}

.reasons-why-row1 > img {
  background-color: #6e7d6b;
}

.reasons-why-row3 > img {
  background-color: #dd9d7f;
}

.reasons-why-row2 {
  min-height: 330px;
}

.container-features {
  float: left;
  width: 300px;
  padding-top: 160px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  position: relative;
}

.container-features:nth-of-type(1) > h2::before {
  content: "";
  background: url('../img/row2-sprite.png');
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 59px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-position: -5px -5px;
}

.container-features:nth-of-type(2) > h2::before {
  content: "";
  background: url('../img/row2-sprite.png');
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 60px;
  left: 164px;
  width: 75px;
  height: 72px;
  background-position: -90px -5px;
}

.container-features:nth-of-type(3) > h2::before {
  content: "";
  background: url('../img/row2-sprite.png');
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 55px;
  left: 168px;
  width: 75px;
  height: 76px;
  background-position: -90px -85px;
}

.container-features > h2 {
  margin: 0;
}

.container-features > p {
  padding-top: 10px;
}

.reasons-why-row3 {
  height: 256px;
}
.reasons-why-row3 > section.reasons-why-text-wrap {
  float: right;
  width: 310px;
  height: 156px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 45px;
  padding-right: 45px;
}

.reasons-why-row4 {
  height: 256px;
  background-color: #eeeeee;
}

.reasons-why-row4 > .container-reasons {
  float: left;
  width: 220px;
  padding-top: 50px;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;

}

.reasons-why-row4 > .container-reasons > h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 35px;
  margin-left: 35px;
  width: 150px;
}

.reasons-why-row4 > .container-reasons > p {
  padding-top: 7px;
}

section.form-container {
  width: 565px;
  margin: 0 auto;
  padding-top: 55px;
  z-index: 120;
  position: relative;
}

section.form-container > h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 0px;
  margin-top: 4px;
}

section.form-container > p {
  width: 450px;
  text-align: center;
  margin: 0 auto;
  padding-top: 7px;
  line-height: 1.65;
}

@keyframes form-bounce-in {
  0% { transform: translateY(1000px); }
  70% { transform: translateY(100px); }
  80% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes form-bounce-out {
  0% { transform: translateY(0px); }
  20% { transform: translateY(10px); }
  30% { transform: translateY(100px); }
  100% { transform: translateY(1000px); }
}

.form-content {
  background-color: #fff;
  float: left;
  width: 465px;
  min-height: 295px;
  padding: 50px;
}

.form-content-animate-up {
  animation: form-bounce-in 0.3s;
}

.form-content-animate-down {
  animation: form-bounce-out 0.3s;
}

.form-content label {
  font-weight: bold;
}

.form-content label.checkin-label-position {
  float: left;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-top: 16px;
  padding-right: 0px;
  margin-left: -5px;
  text-align: left;
  position: relative;
  left: 7px;

}

.form-content label.checkout-label-position {
  float: left;
  padding-left: 0px;
  padding-right: 7px;
  padding-bottom: 7px;
  margin-top: 9px;  
  margin-right: 0px;
  text-align: left;
  position: relative;
  left: 7px;
}

.calendar-icon {
  width: 21px;
  height: 22px;
  position: relative;
  background-image: url("../img/calendar-icon.png");
}

.calendar-icon:hover {
  background-image: url("../img/calendar-icon-black.png");
}

.calendar-icon:active {
  background-image: url("../img/calendar-icon-blue.png"); 
}

.checkin-icon-position {
  top: 14px;
  left: 433px;
}

.checkout-icon-position {
  top: 5px;
  left: 435px;
}

input.checkinout-input {
  float: right;
  width: 328px;
  height: 37px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-image: url("../img/calendar-icon.png");
  background-position: 316px 5px;
  background-repeat: no-repeat;
}

input.checkinout-input:hover {
  background-color: #ebebeb;

}

input.checkout-input-position {
  padding-left: 15px;
  padding-right: 5px;
}

input.checkin-input-position {
  padding-left: 15px;
  padding-right: 5px;
  margin-top: 9px;
}

.form-date-wrap:nth-of-type(1) {
  position: relative;
}

.form-date-wrap:nth-of-type(2) {
  margin-top: 26px;
  margin-left: -2px;
}

.form-date-wrap:nth-of-type(3) {
  font-size: 0px;
  margin-top: 30px;
  margin-left: -2px;
  position: relative;
}

.form-content label.adults-label-position {
  float: left;
  font-size: 14px;
  margin-left: 7px;
  margin-top: 9px;
}

.form-content label.children-label-position {
  display: inline-block;
  font-size: 14px;
  margin-right: 25px;
  margin-left: 55px;
}

.quantity {
  display: inline-block;
  font-size: 14px;
  width: 22px;
  height: 36px;
  border: none;
  background-color: #f2f2f2;
  font-weight: bold;
  padding-left: 17px;
}

.quantity-wrapper {
  float: right;
}

.checkinout-input:focus, .quantity:focus {
  outline: 3px solid #e5e5e5;
  background-color: #fff;
}

.checkinout-input:focus:hover, .quantity:focus:hover {
  background-color: #fff;
}

div.sign-block {
  font-size: 14px;
  height: 38px;
  width: 38px;
  background-color: #f2f2f2;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

div.sign-minus {
  background-image: url("../img/minus-sign.png");
}

div.sign-minus:hover {
  background-image: url("../img/minus-sign-black.png");
}

div.sign-minus:active {
  background-image: url("../img/minus-sign-blue.png");
}

div.sign-plus {
  background-image: url("../img/plus-sign.png");
}

div.sign-plus:hover {
  background-image: url("../img/plus-sign-black.png");
}

div.sign-plus:active {
  background-image: url("../img/plus-sign-blue.png");
}

a.form-heading {
  display: block;
  text-align: center;
  min-height: 70px;
  background-color: #766357;
  line-height: 70px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 48px;
  text-decoration: none;
  color: #ffffff;
  font-size: 21px;
}

.form-content input[type="submit"] {
  margin-top: 54px;
  margin-left: 5px;
  width: 458px;
  height: 58px;
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
  background-color: #81b3d2;
  border: none;
}

.form-content input[type="submit"]:hover {
  background-color: #669ec0;
}

.form-content input[type="submit"]:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map-container {
  background: url('../img/map.jpg');
  width: 1200px;
  height: 473px;
  z-index: 100;
}

.map-footer-container {
  position: relative;
}

.main-footer {
  min-height: 70px;
  padding-top: 50px;
  background-color: #fff;
  background-color: rgba(254, 254, 254, 0.9);
  position: relative;
  bottom: 0;
}

.footer-hashtag {
  float: left;
  width: 267px;
  padding-left: 69px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.footer-social {
  float: left;
  width: 276px;
  padding-left: 124px;
  text-align: center;
}

.footer-copyright {
  float: left;
  width: 297px;
  padding-left: 167px;
  text-align: center;
}

.footer-copyright > span {
  display: block;
  float: left;
}

.footer-copyright > a > img {
  margin-top: -8px;
  margin-left: 8px;
}

.footer-copyright a {
  display: block;
  width: 113px;
  height: 39px;
  background-image: url('../img/html-academy-logo.png');
  background-repeat: no-repeat;
  font-size: 0;
  margin-left: 82px;
  margin-top: -8px;
}

.footer-copyright a:hover {
  background-image: url('../img/html-academy-logo-blue.png');
}

.footer-copyright a:active {
  background-image: url('../img/html-academy-logo-gray.png');
}

.hotels-form-container {
  min-height: 217px;
  background-color: #394b55;
  background-image: url('../img/filter-background.jpg');
  background-position: 0 -55px;
  background-repeat: no-repeat;
  padding-left: 6%;
  padding-right: 6%;
}

.hotels-form-container > form {
  padding-top: 30px;
  font-size: 16px;
  color: #fff;
}

fieldset.form-1-column {
  width: 255px;
  float: left;
}

fieldset.form-2-column {
  width: 475px;
  float: left;
}

fieldset.form-3-column {
  float: left;
  padding-left: 8px;
}

fieldset.form-3-column > legend {
  margin-bottom: 8px;
  margin-left: -8px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0; 
  top: -2px;
  width: 24px; 
  height: 24px;
  background-image: url("../img/checkbox-unchecked.png");
  background-repeat: no-repeat;
}

[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 0; 
  top: -2px;
  width: 24px; 
  height: 24px;
  background-image: url("../img/checkbox-checked.png");
  background-repeat: no-repeat;
}


[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-image: url("../img/checkbox-unchecked-disabled.png");
}

[type="checkbox"]:disabled:checked + label:after {
  background-image: url("../img/checkbox-checked-disabled.png");
  background-repeat: no-repeat;
}

[type="checkbox"]:disabled + label::after {
  background-image: url("../img/checkbox-unchecked-disabled.png");
  background-repeat: no-repeat;
}

legend {
  font-weight: bold;
}

ul.form-hotels-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.form-hotels-list > li {
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 1px;
}

.hotels-list-menu {
  min-height: 68px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 17px;
}

.row > img {
  float: left;
  padding-top: 31px;
}

.hotel-info {
  float: left;
}

.hotel-info > h2 {
  padding-left: 32px;
  position: relative;
  top: 15px;
}

.hotel-info > p:nth-of-type(1) {
  position: relative;
  top: 4px;
  left: 31px;
}

.hotel-info > p:nth-of-type(2) {
  position: relative;
  top: -31px;
  left: 147px;
}

.hotel-ratings {
  float: right;
}

.hotels-list-menu > h2 {
  float: left;
}

.hotel-info > h2 > a {
  color: #000;
  text-decoration: none;
}

.hotel-info > h2 > a:hover {
  color: #81b3d2;
}

.hotel-info > h2 > a:active {
  color: #cacaca;
}

.btn-wrapper {
  width: 292px;
}

.btn-wrapper > a {
  display: block;
  height: 27px;
  color: #fff;
  text-decoration: none;
}

.btn-wrapper > a:nth-of-type(1) {
  float: left;
  background-color: #81b3d2;  
  padding: 0px 18px;
  padding-top: 3px;
  margin-right: 3px;
  margin-left: 30px;
  margin-top: -32px;
}

.btn-wrapper > a:nth-of-type(2) {
  float: right;
  background-color: #766357;
  padding: 0px 18px;
  padding-top: 3px;
  margin-top: -32px;
}

.btn-wrapper > a:nth-of-type(1):hover {
  background-color: #669ec0;
}

.btn-wrapper > a:nth-of-type(1):active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-wrapper > a:nth-of-type(2):hover {
  background-color: #604e43;
}

.btn-wrapper > a:nth-of-type(2):active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-ratings > .rating {
  margin-top: 95px;
  margin-right: 73px;
  background-color: #f2f2f2;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.hotels-list-menu > p {
  float: left;
  font-size: 12px;
  padding-left: 48px;
  padding-top: 8px;
}

.hotels-list-menu > ul {
  list-style: none;
  float: left;
}

.hotels-list-menu > ul > li {
  font-size: 12px;
  float: left;
  padding-left: 0;
  padding-right: 30px;
  padding-top: 5px;

}

.hotels-list-menu a {
  text-decoration: none;
}

.hotels-list-menu ul li a {
  color: #000;
  color: rgba(0, 0 , 0, 0.3);
  border-bottom: dotted 1px #81b3d2;
}

.hotels-list-menu ul li a:hover {
  color: #81b3d2;
}

.hotels-list-menu ul li a:active {
  color: black;
  border-bottom: none;
}

.hotels-list-menu ul li.sort-active > a {
  color: #81b3d2;
  border-bottom: none;
}

.row {
  padding-left: 72px;
  border-top: 1px solid #e5e5e5;
  height: 150px;
}

.row:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-container-color {
  background-color: #fff;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  font-size: 0;
  margin-left: 2px;
  margin-top: -12px;
  background-color: #81b3d2;
  background-image: url('../img/social-icons-sprite.png');
  background-repeat: no-repeat;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn-twitter {
  background-position: -41px 0px;
}

.social-btn-twitter:active {
  background-position: -41px -48px;
}

.social-btn-fb {
  background-position: 3px -2px;
}

.social-btn-fb:active {
  background-position: 3px -50px;
}

.social-btn-yt {
  background-position: -88px 0px;
}

.social-btn-yt:active {
  background-position: -88px -48px;
}

.arrows {
  float: right;
  margin-right: -9px;
  margin-top: 22px;
}

.arrow-up {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-image: url('../img/arrows-sprite.png');
  background-repeat: no-repeat;
  background-position: -97px -15px;
}

.arrow-up:hover {
  background-position: -15px -55px;
}

.arrow-up:active {
  background-position: -56px -55px;
}

.arrow-down {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-image: url('../img/arrows-sprite.png');
  background-repeat: no-repeat;
  background-position: -97px -55px;
}

.arrow-down:hover {
  background-position: -15px -15px;
}

.arrow-down:active {
  background-position: -56px -15px;
}


.arrow-down-active {
  background-position: -56px -15px; 
}

.arrow-down-active:hover {
  background-position: -56px -15px; 
}

.arrow-up-active {
  background-position: -56px -55px;
}

.arrow-up-active:hover {
  background-position: -56px -55px;
}

.stars {
  float: right;
  margin-top: 29px;
  width: 90px;
  height: 20px;
  font-size: 0;
  background-repeat: no-repeat;
}

.stars-2 {
  background-image: url('../img/stars-2.png');
  margin-right: 23px;
}

.stars-3 {
  background-image: url('../img/stars-3.png');
  margin-right: 46px;
}

.stars-4 {
  background-image: url('../img/stars-4.png');
  margin-right: 70px;
}

.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 62px;
  padding-right: 5px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  line-height: 38px;
  padding-bottom: 20px; 

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 84px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}